<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#" class="navbar-brand">Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAngular"
  aria-controls="navbarAngular" aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarAngular">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">
            Introducción
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="directivas-estructurales" [routerLinkActive]="'active'">Directivas Estructurales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="padre" [routerLinkActive]="'active'">Comunicación Componentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="comunicacion-servicios" [routerLinkActive]="'active'">Comunicación Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="variables-referencia" [routerLinkActive]="'active'">Variables de Referencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="proyeccion-componentes" [routerLinkActive]="'active'">Proyección de contenido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="servicios" [routerLinkActive]="'active'">Servicios</a>
        </li>
    </ul> 
  </div>
</nav>
